Fluxo Node Red - IoT App Sensor1
[{"id":"f8bdb694.ec1fe8","type":"ttn message","z":"28e14bcf.522c44","name":"sensor1","app":"c1527905.0f0ae8","dev_id":"sensor1","field":"","x":82.0234375,"y":411.88286304473877,"wires":[["47babb58.9e9614","4f9bdc7b.2caf34","eae8ce86.99139","4d5391e2.f74b6","303d3c33.51af54"]]},{"id":"47babb58.9e9614","type":"Input Split","z":"28e14bcf.522c44","name":"","inputProps":["payload.hum","payload.temp","payload.hum2"],"outputs":3,"x":259.7763862609863,"y":159.20200538635254,"wires":[["f48cfd4e.ed2f4"],["9b6f7227.9f288"],["924dcc2c.0d3d6"]]},{"id":"f48cfd4e.ed2f4","type":"debug","z":"28e14bcf.522c44","name":"Hum","active":false,"console":"false","complete":"payload","x":423.8659248352051,"y":94.99999809265137,"wires":[]},{"id":"9b6f7227.9f288","type":"debug","z":"28e14bcf.522c44","name":"Temp","active":false,"console":"false","complete":"payload","x":424.0346565246582,"y":124.99141502380371,"wires":[]},{"id":"388bdae3.19f626","type":"debug","z":"28e14bcf.522c44","name":"Weather","active":false,"console":"false","complete":"payload","x":624.9158515930176,"y":677.6195697784424,"wires":[]},{"id":"1f17cd00.5a5433","type":"debug","z":"28e14bcf.522c44","name":"Humidity","active":false,"console":"false","complete":"payload","x":628.5826225280762,"y":715.2862434387207,"wires":[]},{"id":"c56e8244.58a45","type":"Input Split","z":"28e14bcf.522c44","name":"weatherSplit","inputProps":["payload.weather","payload.humidity","payload.detail","payload.precipitation"],"outputs":4,"x":403.4156303405762,"y":834.9525966644287,"wires":[["388bdae3.19f626"],["1f17cd00.5a5433"],["4f9c90b4.f34e4","e12990cc.f8c5d"],["646a0997.0eb488","5089d59e.91e08c"]]},{"id":"4f9c90b4.f34e4","type":"debug","z":"28e14bcf.522c44","name":"Detailed Weather","active":false,"console":"false","complete":"payload","x":657.4158020019531,"y":753.9530181884766,"wires":[]},{"id":"646a0997.0eb488","type":"debug","z":"28e14bcf.522c44","name":"Precipitation Pct. %","active":false,"console":"false","complete":"payload","x":661.354133605957,"y":787.2008628845215,"wires":[]},{"id":"62a15cd2.5dd664","type":"function","z":"28e14bcf.522c44","name":"Umidade do Solo <=70%?","func":"\n\nif (msg.media <= 70)\n{\n    msg.payload = true;\n    \n}\nelse\n{\n    msg.payload = false;\n}\nmsg.topic = 'SOLO';\nreturn msg;","outputs":1,"noerr":0,"x":860.9633941650391,"y":328.1906223297119,"wires":[["32619c57.cf2504","e7c59535.071f68"]]},{"id":"1127ffc3.44bd","type":"function","z":"28e14bcf.522c44","name":"Precipitation <= 70%?","func":"if (msg.payload.precipitation >= 0.7)\n{\n    msg.payload = false;\n}\nelse\n{\n    msg.payload = true;\n}\nmsg.topic = 'Humidity';\nreturn msg;","outputs":1,"noerr":0,"x":860.3661460876465,"y":622.0597848892212,"wires":[["a300b02d.67726","e7c59535.071f68"]]},{"id":"303d3c33.51af54","type":"darksky","z":"28e14bcf.522c44","darksky":"","name":"Previsão do Tempo","lon":"-51.308052","lat":"-23.378139","date":"","time":"","mode":"message","lang":"pt","units":"us","x":346.89165687561035,"y":637.9050540924072,"wires":[["c56e8244.58a45","1127ffc3.44bd"]]},{"id":"e7c59535.071f68","type":"BooleanLogic","z":"28e14bcf.522c44","name":"","operation":"AND","inputCount":"2","topic":"result","x":1232.9495086669922,"y":517.8414707183838,"wires":[["5b4a419.ef708c"]]},{"id":"924dcc2c.0d3d6","type":"debug","z":"28e14bcf.522c44","name":"Hum2","active":false,"console":"false","complete":"payload","x":423.35694885253906,"y":155.72723197937012,"wires":[]},{"id":"38f9cba.e8d9134","type":"function","z":"28e14bcf.522c44","name":"Média das Leituras","func":"global.set(\"MediaSensor1\",0);\nglobal.set(\"MediaS1A\",0);\nglobal.set(\"MediaS1B\",0);\nglobal.set(\"MediaS1C\",0);\nglobal.set(\"MediaS1D\",0);\nglobal.set(\"MediaS1E\",0);\nglobal.set(\"IndexS1\",0);\n\nglobal.set(\"MediaSensor1T\",0);\nglobal.set(\"MediaS1AT\",0);\nglobal.set(\"MediaS1BT\",0);\nglobal.set(\"MediaS1CT\",0);\nglobal.set(\"MediaS1DT\",0);\nglobal.set(\"MediaS1ET\",0);\nglobal.set(\"IndexS1T\",0);\nglobal.set(\"IndWeather\",0);\nglobal.set(\"AND\",0);","outputs":"0","noerr":0,"x":802.5408706665039,"y":77.2458381652832,"wires":[]},{"id":"9f35ed93.b5227","type":"inject","z":"28e14bcf.522c44","name":"Init","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":630,"y":100,"wires":[["38f9cba.e8d9134"]]},{"id":"f14a08d4.50efe8","type":"function","z":"28e14bcf.522c44","name":"Média das Últimas 5 Leituras","func":"msg.payload = msg.mediaSensores;\nif (global.get(\"IndexS1\") === 0)\n{\n    global.set(\"MediaS1A\",msg.payload);\n    msg.response = 'Adquirindo 5 leituras de umidade - 1/5';\n}\n\nif (global.get(\"IndexS1\") === 1)\n{\n    global.set(\"MediaS1B\",msg.payload);\n    msg.response= 'Adquirindo 5 leituras de umidade- 2/5';\n}\n\nif (global.get(\"IndexS1\") === 2)\n{\n    global.set(\"MediaS1C\",msg.payload);\n     msg.response= 'Adquirindo 5 leituras de umidade- 3/5';\n}\n\nif (global.get(\"IndexS1\") === 3)\n{\n    global.set(\"MediaS1D\",msg.payload);\n     msg.response = 'Adquirindo 5 leituras de umidade - 4/5';\n}\n\nif (global.get(\"IndexS1\") === 4)\n{\n    global.set(\"MediaS1E\",msg.payload);\n     msg.response= 'Adquirindo 5 leituras de umidade - 5/5';\n    var media = (global.get(\"MediaS1A\")) + (global.get(\"MediaS1B\"))+ (global.get(\"MediaS1C\"))+ (global.get(\"MediaS1D\"))+ (global.get(\"MediaS1E\"));\n    media = media/5;\n    global.set(\"MediaSensor1\",media);\n    msg.response = 'Media das 5 ultimas leituras de umidade =  ' + global.get(\"MediaSensor1\");\n    msg.media = media;\n}\n\nif (global.get(\"IndexS1\") >= 4)\n{\n    global.set(\"MediaS1A\",(global.get(\"MediaS1B\")));\n    global.set(\"MediaS1B\",(global.get(\"MediaS1C\")));\n    global.set(\"MediaS1C\",(global.get(\"MediaS1D\")));\n    global.set(\"MediaS1D\",(global.get(\"MediaS1E\")));\n    global.set(\"MediaS1E\", msg.payload);\n    var media = (global.get(\"MediaS1A\")) + (global.get(\"MediaS1B\"))+ (global.get(\"MediaS1C\"))+ (global.get(\"MediaS1D\"))+ (global.get(\"MediaS1E\"));\n    media = media/5;\n    global.set(\"MediaSensor1\",media);\n    msg.response = 'Media das 5 ultimas leituras de umidade =  ' + global.get(\"MediaSensor1\");\n    msg.media = media;\n}\nelse msg.media = 'Media ainda insdisponível, é necessário aguardar mais leituras';\n\n\nglobal.set(\"IndexS1\", (global.get(\"IndexS1\"))+1);\nmsg.index = global.get(\"IndexS1\");\n\n\n\nreturn msg ;\n","outputs":"1","noerr":0,"x":575.0737800598145,"y":211.37370491027832,"wires":[["68db0cd.59763f4","62a15cd2.5dd664","41424190.a3a5e","4ca6630c.64970c"]]},{"id":"68db0cd.59763f4","type":"debug","z":"28e14bcf.522c44","name":"","active":false,"console":"false","complete":"response","x":796.6981430053711,"y":427.4459705352783,"wires":[]},{"id":"41424190.a3a5e","type":"debug","z":"28e14bcf.522c44","name":"","active":false,"console":"false","complete":"media","x":779.8698654174805,"y":476.3636989593506,"wires":[]},{"id":"a300b02d.67726","type":"BDebug","z":"28e14bcf.522c44","name":"Precipitação <= 70%?","x":1168.560634613037,"y":631.255485534668,"wires":[]},{"id":"32619c57.cf2504","type":"BDebug","z":"28e14bcf.522c44","name":"UmidadeSolo <= 70%?","x":1174.956485748291,"y":339.13421058654785,"wires":[]},{"id":"4f9bdc7b.2caf34","type":"function","z":"28e14bcf.522c44","name":"Média dos 2 sensores","func":"msg.mediaSensores = (msg.payload.hum + msg.payload.hum2)/2;\nmsg.mediaSensores = 87 - msg.mediaSensores;\nmsg.mediaSensores = msg.mediaSensores - 8;\nmsg.mediaSensores = msg.mediaSensores*2.4;\nif (msg.mediaSensores < 0) msg.mediaSensores = 0;\nif (msg.mediaSensores > 100) msg.mediaSensores = 100;\nreturn msg;","outputs":1,"noerr":0,"x":298.37631607055664,"y":234.4619016647339,"wires":[["f14a08d4.50efe8"]]},{"id":"4d5391e2.f74b6","type":"debug","z":"28e14bcf.522c44","name":"","active":true,"console":"false","complete":"metadata.gateways","x":577.3161087036133,"y":301.8542022705078,"wires":[]},{"id":"9fb2bec8.b1d61","type":"ttn send","z":"28e14bcf.522c44","name":"Comando de Irrigação","app":"c1527905.0f0ae8","dev_id":"sensor1","port":"","x":1804.2177276611328,"y":431.01842975616455,"wires":[]},{"id":"5b4a419.ef708c","type":"function","z":"28e14bcf.522c44","name":"Comando de Irrigação","func":"\n    if (msg.payload)\n    {\n        msg.response = 'Umidade do Solo baixa e não vai chover! Acionando Irrigador.'; \n        msg.payload = [0x00,0x00,0x15,0x55];\n        msg.port = 50;\n    }\n    else \n    {\n        msg.response = \"Não será necessário irrigar!\"; \n        msg.payload = [0x99,0x99,0x00,0x00];\n        msg.port = 100;\n    }\n    global.set (\"Counter\", msg.counter);\n    return msg;\n\n\n\n","outputs":1,"noerr":0,"x":1422.0592651367188,"y":510.5209846496582,"wires":[["bac3a52e.bf80a8","ab4112b5.b34f","9fb2bec8.b1d61"]]},{"id":"bac3a52e.bf80a8","type":"debug","z":"28e14bcf.522c44","name":"","active":false,"console":"false","complete":"response","x":1643.934181213379,"y":570.879632472992,"wires":[]},{"id":"4ca6630c.64970c","type":"Input Split","z":"28e14bcf.522c44","name":"","inputProps":["media"],"outputs":1,"x":826.0195503234863,"y":215.0039291381836,"wires":[["60d12aa9.f17a44","92a2c33a.89d8b"]]},{"id":"4c2abb66.d9fbf4","type":"ui_gauge","z":"28e14bcf.522c44","name":"Probabilidade de Precipitação","group":"7e18ce69.c842c","order":0,"width":"7","height":"6","gtype":"gage","title":"Probabilidade de Precipitação","label":"%","format":"{{value | number:1}}","min":0,"max":"100","colors":["#ff8080","#e6e600","#00ff80"],"seg1":"50","seg2":"70","x":756,"y":980,"wires":[]},{"id":"5089d59e.91e08c","type":"function","z":"28e14bcf.522c44","name":"% conv.","func":"msg.payload = msg.payload*100;\nreturn msg;","outputs":1,"noerr":0,"x":509.16668701171875,"y":986.6666870117188,"wires":[["4c2abb66.d9fbf4"]]},{"id":"de5bd61c.c1e598","type":"ui_audio","z":"28e14bcf.522c44","name":"","group":"db20e337.68382","voice":"pt-BR","always":true,"x":1901.4031925201416,"y":152.8907232284546,"wires":[]},{"id":"ab4112b5.b34f","type":"Input Split","z":"28e14bcf.522c44","name":"","inputProps":["response"],"outputs":1,"x":1530.9668598175049,"y":443.31056022644043,"wires":[["2d3d4ae1.40d676","df5d93d4.a2f1d","c58acbc4.263cc8"]]},{"id":"2d3d4ae1.40d676","type":"ui_text","z":"28e14bcf.522c44","group":"8c65e2f4.4221c","order":0,"width":"7","height":"2","name":"","label":"Resposta:","format":"{{msg.payload}}","layout":"col-center","x":1767.2170143127441,"y":208.19339561462402,"wires":[]},{"id":"339b1dba.d54ac2","type":"ui_toast","z":"28e14bcf.522c44","position":"dialog","displayTime":"5","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"","name":"Alerta","x":1872.2267150878906,"y":360.9440326690674,"wires":[[]]},{"id":"df5d93d4.a2f1d","type":"function","z":"28e14bcf.522c44","name":"","func":"\nmsg.topic = 'ALERTA!';\nreturn msg;","outputs":1,"noerr":0,"x":1752.2169456481934,"y":358.80535316467285,"wires":[["339b1dba.d54ac2"]]},{"id":"eae8ce86.99139","type":"function","z":"28e14bcf.522c44","name":"Média da Temperatura","func":"msg.payload = msg.payload.temp;\nif (global.get(\"IndexS1T\") === 0)\n{\n    global.set(\"MediaS1AT\",msg.payload);\n    msg.response = 'Adquirindo 5 leituras de umidade - 1/5';\n}\n\nif (global.get(\"IndexS1T\") === 1)\n{\n    global.set(\"MediaS1BT\",msg.payload);\n    msg.response= 'Adquirindo 5 leituras de umidade- 2/5';\n}\n\nif (global.get(\"IndexS1T\") === 2)\n{\n    global.set(\"MediaS1CT\",msg.payload);\n     msg.response= 'Adquirindo 5 leituras de umidade- 3/5';\n}\n\nif (global.get(\"IndexS1T\") === 3)\n{\n    global.set(\"MediaS1DT\",msg.payload);\n     msg.response = 'Adquirindo 5 leituras de umidade - 4/5';\n}\n\nif (global.get(\"IndexS1T\") === 4)\n{\n    global.set(\"MediaS1ET\",msg.payload);\n     msg.response= 'Adquirindo 5 leituras de umidade - 5/5';\n    var media = (global.get(\"MediaS1AT\")) + (global.get(\"MediaS1BT\"))+ (global.get(\"MediaS1CT\"))+ (global.get(\"MediaS1DT\"))+ (global.get(\"MediaS1ET\"));\n    media = media/5;\n    global.set(\"MediaSensor1T\",media);\n    msg.response = 'Media das 5 ultimas leituras de Temperatura =  ' + global.get(\"MediaSensor1T\");\n    msg.media = media;\n}\n\nif (global.get(\"IndexS1T\") >= 4)\n{\n    global.set(\"MediaS1AT\",(global.get(\"MediaS1BT\")));\n    global.set(\"MediaS1BT\",(global.get(\"MediaS1CT\")));\n    global.set(\"MediaS1CT\",(global.get(\"MediaS1DT\")));\n    global.set(\"MediaS1DT\",(global.get(\"MediaS1ET\")));\n    global.set(\"MediaS1ET\", msg.payload);\n    var media = (global.get(\"MediaS1AT\")) + (global.get(\"MediaS1BT\"))+ (global.get(\"MediaS1CT\"))+ (global.get(\"MediaS1DT\"))+ (global.get(\"MediaS1ET\"));\n    media = media/5;\n    global.set(\"MediaSensor1T\",media);\n    msg.response = 'Media das 5 ultimas leituras de Temperatura =  ' + global.get(\"MediaSensor1T\");\n    msg.media = media;\n}\nelse msg.media = 'Media ainda insdisponível, é necessário aguardar mais leituras';\n\n\nglobal.set(\"IndexS1T\", (global.get(\"IndexS1T\"))+1);\nmsg.index = global.get(\"IndexS1T\");\n\n\n\nreturn msg ;","outputs":1,"noerr":0,"x":278.4765625,"y":411.4843502044678,"wires":[["e1158e6.97eb27"]]},{"id":"60d12aa9.f17a44","type":"ui_gauge","z":"28e14bcf.522c44","name":"Umidade - Média 5","group":"bfa11030.7b7a6","order":0,"width":"9","height":"8","gtype":"gage","title":"Umidade do Solo","label":"%","format":"{{value | number:1}}","min":0,"max":"100","colors":["#ff8080","#e6e600","#00ff80"],"seg1":"50","seg2":"70","x":1053.4154243469238,"y":175.09532737731934,"wires":[]},{"id":"92a2c33a.89d8b","type":"ui_chart","z":"28e14bcf.522c44","name":"Umidade - Média 5","group":"bfa11030.7b7a6","order":0,"width":"9","height":"6","label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"2","removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1052.1666946411133,"y":211.66669464111328,"wires":[[],[]]},{"id":"4f464160.33bee","type":"ui_chart","z":"28e14bcf.522c44","name":"Temperatura - Média 5","group":"f7180c11.62313","order":2,"width":"9","height":"6","label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"15","ymax":"40","removeOlder":"2","removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":558.7512893676758,"y":462.82135677337646,"wires":[[],[]]},{"id":"e1158e6.97eb27","type":"Input Split","z":"28e14bcf.522c44","name":"","inputProps":["media"],"outputs":1,"x":331.25,"y":510,"wires":[["4f464160.33bee","b1f75d47.dd4b"]]},{"id":"b1f75d47.dd4b","type":"ui_gauge","z":"28e14bcf.522c44","name":"Temperatura - Média 5","group":"f7180c11.62313","order":1,"width":"9","height":"8","gtype":"compass","title":"Temperatura","label":"ºC","format":"{{value}}","min":0,"max":"60","colors":["#ff8080","#e6e600","#00ff80"],"seg1":"50","seg2":"70","x":556.2500381469727,"y":423.7500057220459,"wires":[]},{"id":"d160ce09.a65d3","type":"ui_audio","z":"28e14bcf.522c44","name":"","group":"db20e337.68382","voice":"en-US","always":true,"x":1021.0833892822266,"y":847.6666984558105,"wires":[]},{"id":"9d6222a5.8064","type":"ui_switch","z":"28e14bcf.522c44","name":"","label":"Habilitar Som","group":"8c65e2f4.4221c","order":0,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"switch","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":286.000186920166,"y":1092.6667518615723,"wires":[["9b638385.d5937","6d8b6034.690f8"]]},{"id":"6518c81a.86d408","type":"ui_text","z":"28e14bcf.522c44","group":"7e18ce69.c842c","order":0,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1006.2500762939453,"y":894.0000736713409,"wires":[]},{"id":"9b638385.d5937","type":"function","z":"28e14bcf.522c44","name":"Habilitar Som","func":"if (msg.payload) global.set(\"SoundON\",true);\nelse global.set(\"SoundON\",false);\n","outputs":"0","noerr":0,"x":554.3333435058594,"y":1070.0000823471273,"wires":[]},{"id":"e12990cc.f8c5d","type":"function","z":"28e14bcf.522c44","name":"","func":"if (global.get(\"SoundON\")) return [msg,msg];\nelse return [\"\",msg];","outputs":"2","noerr":0,"x":753.000030517578,"y":868.0000305175779,"wires":[["d160ce09.a65d3"],["6518c81a.86d408"]]},{"id":"c58acbc4.263cc8","type":"function","z":"28e14bcf.522c44","name":"","func":"if (global.get(\"SoundON\")) return msg;\nelse return [\"\"];","outputs":1,"noerr":0,"x":1745.0000228881836,"y":155.00000190734863,"wires":[["de5bd61c.c1e598"]]},{"id":"6d8b6034.690f8","type":"BDebug","z":"28e14bcf.522c44","name":"Debug","x":503.33333333333326,"y":1188.3333333333333,"wires":[]},{"id":"7e3c6ef7.faf41","type":"function","z":"28e14bcf.522c44","name":"","func":"if (global.get(\"IndWeather\") < 15)\n{\n    global.set(\"IndWeather\", global.get(\"IndWeather\")+1);\n    \n}\nelse\n{\n    global.set(\"IndWeather\",0); \n    return msg;\n}\n    ","outputs":1,"noerr":0,"x":156.33334732055664,"y":612.9166345596313,"wires":[[]]},{"id":"5a6e8c3c.1c8d74","type":"function","z":"28e14bcf.522c44","name":"","func":"if (msg.topic === 'SOLO') \n{\n    var newMsg = msg;\n    global.set (\"AND\", global.get(\"AND\")+1);\n}\nif (msg.topic === 'Humidity')\n{\n    global.set (\"AND\", global.get(\"AND\")+1);\n}\nif (global.get (\"AND\") === 2)\n{\n    global.set(\"AND\",0);\n    return [msg, newMsg];    \n}\n","outputs":"2","noerr":0,"x":916.6667652130127,"y":528.6666717529297,"wires":[[],[]]},{"id":"c1527905.0f0ae8","type":"ttn app","z":"","appId":"irrtcc","region":"brazil","accessKey":"ttn-account-v2.G-xz9sdaDpaPgr6Q2x0EFaLjYrsOtssfRVkUVxo1pDM"},{"id":"7e18ce69.c842c","type":"ui_group","z":"","name":"Previsão do Tempo","tab":"2c14f0f.dacdc1","order":3,"disp":true,"width":"9"},{"id":"db20e337.68382","type":"ui_group","z":"","name":"Audiio","tab":"2c14f0f.dacdc1","order":5,"disp":true,"width":"1"},{"id":"8c65e2f4.4221c","type":"ui_group","z":"","name":"Resultados","tab":"2c14f0f.dacdc1","order":4,"disp":true,"width":"9"},{"id":"bfa11030.7b7a6","type":"ui_group","z":"","name":"Umidade do Solo","tab":"2c14f0f.dacdc1","order":1,"disp":true,"width":"9"},{"id":"f7180c11.62313","type":"ui_group","z":"","name":"Média das 5 últimas Leituras","tab":"2c14f0f.dacdc1","order":2,"disp":true,"width":"9"},{"id":"2c14f0f.dacdc1","type":"ui_tab","z":"","name":"Scardini IoT App","icon":"school"}]
