Fluxo do Node Red - Dados sobre a comunicação
[{"id":"45431779.b3d9f8","type":"ttn message","z":"26f40c72.942f84","name":"sensor1","app":"c1527905.0f0ae8","dev_id":"sensor1","field":"","x":244,"y":194,"wires":[["fbaae246.42d51","ddc29660.f595d8","bb463e0.805acc"]]},{"id":"fbaae246.42d51","type":"function","z":"26f40c72.942f84","name":"","func":"global.set (\"Counter\", msg.counter);\nmsg.misses = global.get(\"MsgMisses\");\nmsg.total = global.get(\"MsgTotal\");\nmsg.lastmsgrcv = global.get (\"LastRcvCounter\");\nif (global.get(\"Init\"))\n{\n    msg.misses = msg.misses + (msg.counter - global.get (\"LastRcvCounter\"));\n    msg.misses = msg.misses - 1;\n    msg.total = msg.total + (msg.counter - global.get (\"LastRcvCounter\"));\n}\nglobal.set (\"Init\", true);\nglobal.set(\"MsgMisses\", msg.misses);\nglobal.set(\"MsgTotal\", msg.total);\nglobal.set (\"LastRcvCounter\", msg.counter);\n\nmsg.pct = msg.misses/msg.total;\nmsg.pct = 1 - msg.pct;\nmsg.pct = msg.pct*100;\nmsg.payload = msg.pct;\nreturn msg;","outputs":1,"noerr":0,"x":506.50000762939453,"y":202.50000286102295,"wires":[["6aed3005.69ddc","a064ddc1.8618"]]},{"id":"ddc29660.f595d8","type":"debug","z":"26f40c72.942f84","name":"","active":false,"console":"false","complete":"counter","x":210,"y":320,"wires":[]},{"id":"f202e63f.0b2a08","type":"ui_switch","z":"26f40c72.942f84","name":"","label":"Reiniciar o contador","group":"126c0e72.6ab102","order":0,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":198.50001907348633,"y":101.50000190734863,"wires":[["2114a1f6.81459e","d877cd36.fde93"]]},{"id":"2114a1f6.81459e","type":"function","z":"26f40c72.942f84","name":"MsgCounterInit","func":"if(msg.payload)\n{\n    global.set (\"MsgOK\",0);\n    global.set (\"MsgTotal\", 1);\n    global.set (\"MsgMisses\",0);\n    global.set (\"LastRcvCounter\", 0);\n    global.set (\"Init\", false);\n}\n\nreturn msg;","outputs":"0","noerr":0,"x":432.00001525878906,"y":57.999999046325684,"wires":[]},{"id":"6aed3005.69ddc","type":"debug","z":"26f40c72.942f84","name":"","active":true,"console":"false","complete":"metadata.gateways.0.snr","x":855.0000095367432,"y":206.25000286102295,"wires":[]},{"id":"d877cd36.fde93","type":"debug","z":"26f40c72.942f84","name":"","active":false,"console":"false","complete":"false","x":545.0000076293945,"y":102.50000190734863,"wires":[]},{"id":"a064ddc1.8618","type":"ui_gauge","z":"26f40c72.942f84","name":"","group":"126c0e72.6ab102","order":0,"width":"7","height":"9","gtype":"gage","title":"Percentual de Sucesso de Pacotes","label":"%","format":"{{value | number:1}}","min":0,"max":"100","colors":["#ff8080","#ffff00","#008080"],"seg1":"","seg2":"","x":867.5000114440918,"y":281.2500042915344,"wires":[]},{"id":"bb463e0.805acc","type":"Input Split","z":"26f40c72.942f84","name":"","inputProps":["metadata.gateways.0.snr","metadata.gateways.0.rssi","metadata.data_rate","metadata.coding_rate"],"outputs":4,"x":400,"y":300,"wires":[["7d1c16d4.e0b0b","497e16f6.80047"],["f3776b07.602ec","7d6e21f4.4cb698"],["1ec18e09.b9dcb2"],["796501ad.4c9598"]]},{"id":"7d1c16d4.e0b0b","type":"ui_chart","z":"26f40c72.942f84","name":"","group":"c79b8c79.73ef98","order":0,"width":"8","height":"5","label":"dB","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"-20","ymax":"12","removeOlder":"15","removeOlderPoints":"20","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":690,"y":380,"wires":[[],[]]},{"id":"f3776b07.602ec","type":"ui_chart","z":"26f40c72.942f84","name":"","group":"8c2faed8.87ed38","order":0,"width":"8","height":"5","label":"dBm","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"-180","ymax":"-20","removeOlder":"15","removeOlderPoints":"20","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":690,"y":520,"wires":[[],[]]},{"id":"7d6e21f4.4cb698","type":"ui_gauge","z":"26f40c72.942f84","name":"","group":"8c2faed8.87ed38","order":0,"width":"8","height":"5","gtype":"gage","title":"RSSI","label":"dBm","format":"{{value}}","min":"-150","max":"-20","colors":["#ce0000","#e6e600","#00ae00"],"seg1":"","seg2":"","x":690,"y":480,"wires":[]},{"id":"497e16f6.80047","type":"ui_gauge","z":"26f40c72.942f84","name":"","group":"c79b8c79.73ef98","order":0,"width":"8","height":"5","gtype":"gage","title":"SNR","label":"dB","format":"{{value}}","min":"-12","max":"12","colors":["#a80000","#e6e600","#008c00"],"seg1":"","seg2":"","x":690,"y":340,"wires":[]},{"id":"ec8dabf1.e8528","type":"ui_text","z":"26f40c72.942f84","group":"36ed0428.59b1dc","order":0,"width":"5","height":"1","name":"","label":"Distância do gateway","format":"{{msg.payload}}","layout":"row-center","x":560,"y":640,"wires":[]},{"id":"c75bc2a9.db7fc8","type":"ui_text_input","z":"26f40c72.942f84","name":"","label":"Digite a distância do gateway","group":"793e91e0.c940d","order":0,"width":"12","height":"1","passthru":true,"mode":"text","delay":"1000","topic":"","x":270,"y":640,"wires":[["ec8dabf1.e8528"]]},{"id":"1ec18e09.b9dcb2","type":"ui_text","z":"26f40c72.942f84","group":"36ed0428.59b1dc","order":0,"width":"6","height":"1","name":"","label":"Modulação","format":"{{msg.payload}}","layout":"row-center","x":710,"y":560,"wires":[]},{"id":"796501ad.4c9598","type":"ui_text","z":"26f40c72.942f84","group":"36ed0428.59b1dc","order":0,"width":"6","height":"1","name":"","label":"CRC","format":"{{msg.payload}}","layout":"row-center","x":690,"y":600,"wires":[]},{"id":"b888157a.fe83c8","type":"ui_text","z":"26f40c72.942f84","group":"36ed0428.59b1dc","order":0,"width":"5","height":"1","name":"","label":"Power Index configurado","format":"{{msg.payload}}","layout":"row-center","x":570,"y":700,"wires":[]},{"id":"ff83c047.da7db8","type":"ui_text_input","z":"26f40c72.942f84","name":"","label":"Digite o Power Index configurado","group":"f8d51a97.ea502","order":0,"width":"11","height":"1","passthru":true,"mode":"text","delay":"1000","topic":"","x":280,"y":700,"wires":[["b888157a.fe83c8"]]},{"id":"c1527905.0f0ae8","type":"ttn app","z":"","appId":"irrtcc","region":"brazil","accessKey":"ttn-account-v2.G-xz9sdaDpaPgr6Q2x0EFaLjYrsOtssfRVkUVxo1pDM"},{"id":"126c0e72.6ab102","type":"ui_group","z":"","name":"Percentual de Sucesso","tab":"8dea0516.e672c8","order":2,"disp":true,"width":"7"},{"id":"c79b8c79.73ef98","type":"ui_group","z":"","name":"SNR","tab":"8dea0516.e672c8","order":3,"disp":true,"width":"8"},{"id":"8c2faed8.87ed38","type":"ui_group","z":"","name":"RSSI","tab":"8dea0516.e672c8","order":4,"disp":true,"width":"8"},{"id":"36ed0428.59b1dc","type":"ui_group","z":"","name":"Parâmetros do Teste","tab":"8dea0516.e672c8","order":5,"disp":true,"width":"23"},{"id":"793e91e0.c940d","type":"ui_group","z":"","name":"Distância do gateway","tab":"8dea0516.e672c8","order":6,"disp":true,"width":"12"},{"id":"f8d51a97.ea502","type":"ui_group","z":"","name":"Power Index","tab":"8dea0516.e672c8","disp":true,"width":"11"},{"id":"8dea0516.e672c8","type":"ui_tab","z":"","name":"Dados da Comunicação","icon":"school","order":2}]
